<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
    th:with="titulo='Lista de jogos'">

<body>
    <div layout:fragment="content">
        <h1 class="h3 mb-4 text-gray-800 text-center">Lista de sorteios</h1>
        <div th:if="${not #strings.isEmpty(mensagem)}"
            th:utext="${mensagem} +'<button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;><span aria-hidden=&quot;true&quot;>&times;</span></button>'"
            class="alert alert-danger alert-dismissible fade show" role="alert">
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tabela de sorteios</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Premio</th>
                                <th>Data</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="currentSorteio, stat : ${sorteios}">
                                <td th:text="${currentSorteio.getId()}">Tiger Nixon</td>
                                <td th:text="${currentSorteio.getPremio()}">2011/04/25</td>
                                <td th:text="${currentSorteio.getData()}">System Architect</td>
                                <td th:text="${currentSorteio.getEnabled()} ? 'Em andamento' : 'Já sorteado'">Edinburgh</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>