<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--BootStrap-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/autentication/login.css}">

    <title>Login</title>

</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first">
            <img th:src="@{/asserts/logo.png}" id="icon" alt="User Icon" />
          </div>

          <!-- Login Form -->
          <form class="form login" th:action="@{/auth}" method="POST" th:object=${cliente}>

            <div th:if="${not #strings.isEmpty(mensagem)}"
                 th:utext="${mensagem} +'<button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;><span aria-hidden=&quot;true&quot;>&times;</span></button>'"
                 class="alert alert-danger alert-dismissible fade show" role="alert">
            </div>

            <input type="text" id="login" class="fadeIn second" name="email" placeholder="Login" th:field="*{username}">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" th:field="*{senha}">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
            or
            <a class="underlineHover" th:href="@{/register}">Register</a>
          </div>

        </div>
      </div>
</body>
</html>