<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--BootStrap-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/autentication/login.css}">

    <title>Login</title>

</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first">
            <img th:src="@{/asserts/logo.png}" id="icon" alt="User Icon" />
          </div>

          <!-- Login Form -->
          <form class="form register" th:action="@{/register}" method="POST" th:object="${cliente}">

            <input type="text" th:field="*{nome}" id="Nome" class="fadeIn second" name="nome" placeholder="Nome completo">
            <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:errorclass="error-message" />

            <input type="text" th:field="*{username}" id="login" class="fadeIn second" name="username" placeholder="Nome de usuário">
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:errorclass="error-message" />

            <input type="string" th:field="*{dataNascimento}" id="dataNascimento" class="fadeIn second" name="dataNascimento" placeholder="Data de nascimento">
            <div th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}" th:errorclass="error-message" />

            <input type="text" th:field="*{cpf}" id="cpf" class="fadeIn second" name="cpf" placeholder="CPF">
            <div th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" th:errorclass="error-message" />

            <input type="password" th:field="*{senha}" id="password" class="fadeIn third" name="login" placeholder="Senha">
            <div th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}" th:errorclass="error-message" />

            <input type="password" id="confirmPassword" class="fadeIn second" name="confirmPassword"  placeholder="Confirmar a senha">
            <span style="display: none;" class="error-message"></span>

            <input type="submit" id="registerCliente" class="fadeIn fourth" value="Register">
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" th:href="@{/auth}">Log In</a>
          </div>

        </div>
      </div>

      <script th:src="@{script/autentication/register.js}"></script>
</body>
</html>