<head th:fragment="headfiles(titulo, links)">

  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title th:text="'Loterry - ' + ${titulo}"></title>
  <meta charset="utf-8">
  <!--  Styles  -->
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <link href="css/card-aposta.css" rel="stylesheet">

  <th:block th:replace="${links}" />

</head>

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="navmenu">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
          <i class="fa fa-solid fa-dollar-sign"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Loterry</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
      <a class="nav-link" th:classappend="${menu == 'home'} ? 'active'" th:href="@{/home}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div sec:authorize="hasRole('USER')">
    <div class="sidebar-heading">
        Loteria
    </div>

    <!-- Nav Item - Pages Collapse Menu -->

    <li class="nav-item">
        <a class="nav-link" th:classappend="${menu == 'aposta'} ? 'active'" th:href="@{/aposta}">
            <i class="fa fa-solid fa-coins"></i>
            <span>Apostar</span></a>
    </li>
  </div>

  <!-- Heading -->
  <div sec:authorize="hasRole('ADMIN')">
    <div class="sidebar-heading">
        Jogos
    </div>

    <!-- Nav Item - Pages Collapse Menu -->

    <li class="nav-item">
        <a class="nav-link" th:classappend="${menu == 'jogo'} ? 'active'" th:href="@{/jogo/register}">
            <i class="fa fa-solid fa-coins"></i>
            <span>Jogos</span></a>
    </li>

 </div>
  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
    <div sec:authorize="hasRole('USER')">
        <div class="sidebar-heading">
            Resultados
        </div>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" th:classappend="${menu == 'minhas_apostas'} ? 'active'" th:href="@{/aposta/minhas_apostas}">
                <i class="fas fa-fw fa-table"></i>
                <span>Lista a aposta</span></a>
        </li>
    </div>

  <!-- Heading -->
    <div sec:authorize="hasRole('ADMIN')">
        <div class="sidebar-heading">
            Lista
        </div>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" th:classappend="${menu == 'Lista_jogo'} ? 'active'" th:href="@{/jogo}">
                <i class="fas fa-fw fa-table"></i>
                <span>Lista dos proximos jogos</span></a>
        </li>
    </div>

  <!-- Nav Item - Charts -->
    <div sec:authorize="hasRole('USER')">
        <li class="nav-item">
            <a class="nav-link">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Indices de resultado</span></a>
        </li>
    </div>

</ul>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true" th:fragment="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pronto para sair ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Selecione a opção "Sair" para finalizar a sua sessão</div>
            <form th:action="@{auth/logout}" method="POST" class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Sair</button>
            </form >
        </div>
    </div>
</div>

<div th:fragment="scripts">
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
</div>


